---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { SHOW_BUY_BUTTON } from "astro:env/server";

import AmazonLogo from "../../components/AmazonLogo.astro";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";
import BuyBuscaLibre from "../../components/BuyBuscaLibre.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const books: { slug: string; [key: string]: any }[] =
    await getCollection("books");

  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data, slug } = book;
const { title, author, cover, description, date, buy } = data;

const { Content } = await render(book);

export const prerender = true;
---

<Layout title={`${title} - Libro Recomendado`}>
  <div class="flex gap-12 mt-14">
    <!-- Aside (columna izquierda) -->
    <aside class="flex flex-col items-center gap-4 w-[300px] flex-shrink-0">
      <a href="/" class="hover:underline opacity-70">← Volver atrás</a>
      <img
        transition:name={`img-${slug}`}
        class="rounded w-72 h-auto"
        src={`/${cover}`}
        alt={title}
      />

      <!-- Contenedor para puntuación y botón (se apilan verticalmente) -->
      <div class="flex flex-col items-center gap-4 w-full">
        <BookScore server:defer id={slug}>
          <span slot="fallback" class="text-xs opacity-70"
            >Cargando puntuación...</span
          >
        </BookScore>

        <div class="w-full flex flex-col gap-3">
          {SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy} class="w-full" />}
          {SHOW_BUY_BUTTON && <BuyBuscaLibre server:defer buy={buy} class="w-full" />}
        </div>
      </div>
    </aside>

    <!-- Main (columna derecha) -->
    <main class="max-w-3xl flex-1">
      <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">
        {title}
      </h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
