---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const books: CollectionEntry<"books">[] = await getCollection("books");

export const prerender = true

import "../styles/global.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Libros Recomendados">
    <main>
        <h1 class="text-center text-7xl font-extrabold mb-24">
            Libros 📚
            <span class="block">Recomendados</span>
        </h1>

    <section arial-label="Libros Recomendados">
        <div class="px-4 mx-auto max-w-screen-xl">
			<div class="grid gap-6 md:grid-cols-2">
                {
					books.map(book => {
						const { slug, data } = book
						const { title, author, date, cover, description, buy } = data

						return (
							<article class="flex">
								<a href={`/libro/${slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
									<img transition:name={`img-${slug}`} class="max-h-200px" src={`/${cover}`} alt={title} />
								</a>
								
								<div class="flex flex-col justify-center ml-4">
									<h2 transition:name={`title-${slug}`} class="mb-2 text-2xl font-bold leading-tight text-white">
										{title}
									</h2>
                                    <span class="text-xs">📅 Publicado el: {date}</span>

									<p class="mb-4 text-gray-300 max-w-sm">{description.slice(0, 250)}...</p>
								</div>
							</article>
						)
					})
				}
            </dir>
        </div>
    </section>
</Layout>
